/build/resources/main/application.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.10.2/checksums/checksums.lock
/.gradle/8.10.2/executionHistory/executionHistory.bin
/.gradle/8.10.2/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.10.2/fileHashes/fileHashes.bin
/.gradle/8.10.2/fileHashes/fileHashes.lock
/.gradle/8.10.2/dependencies-accessors/gc.properties
/.gradle/8.10.2/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/com/eloiacs/aapta/Inventory/InventoryApplication.class
/.gradle/8.10.2/fileChanges/last-build.bin
/.gradle/8.10.2/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
/build/classes/java/main/com/eloiacs/aapta/Inventory/ServletInitializer.class
/.gradle/8.10.2/checksums/sha1-checksums.bin
/build/resources/main/application-dev.properties
/build/resources/main/application-local.properties
/build/resources/main/application-prod.properties
/build/classes/java/main/com/eloiacs/aapta/Inventory/config/SpringFoxConfig.class
/build/classes/java/main/com/eloiacs/aapta/Inventory/utils/Utils.class
